@charset "UTF-8";
/* line 17, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
.post-list ol, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, .post-list ol, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/syntax.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../_sass/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 3, ../_sass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 4, ../_sass/syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 5, ../_sass/syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 6, ../_sass/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 7, ../_sass/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 8, ../_sass/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 9, ../_sass/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 10, ../_sass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 11, ../_sass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 12, ../_sass/syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../_sass/syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 14, ../_sass/syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 15, ../_sass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 16, ../_sass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 17, ../_sass/syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 18, ../_sass/syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 19, ../_sass/syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 20, ../_sass/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 21, ../_sass/syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 22, ../_sass/syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 23, ../_sass/syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 24, ../_sass/syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 25, ../_sass/syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../_sass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, ../_sass/syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 28, ../_sass/syntax.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 29, ../_sass/syntax.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 30, ../_sass/syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 31, ../_sass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../_sass/syntax.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 33, ../_sass/syntax.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 34, ../_sass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 35, ../_sass/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 36, ../_sass/syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 37, ../_sass/syntax.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 38, ../_sass/syntax.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 39, ../_sass/syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../_sass/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../_sass/syntax.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 42, ../_sass/syntax.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 43, ../_sass/syntax.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 44, ../_sass/syntax.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 45, ../_sass/syntax.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 46, ../_sass/syntax.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 47, ../_sass/syntax.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 48, ../_sass/syntax.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 49, ../_sass/syntax.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 50, ../_sass/syntax.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 51, ../_sass/syntax.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 52, ../_sass/syntax.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 53, ../_sass/syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 54, ../_sass/syntax.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 55, ../_sass/syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 56, ../_sass/syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 57, ../_sass/syntax.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 58, ../_sass/syntax.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 59, ../_sass/syntax.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 60, ../_sass/syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
/* line 12, ../_sass/styles.scss */
body {
  font: 12px/24px Georgia, serif;
}

/* Header Styles */
/* Use a lot of ems so the header unit is easily resizeable */
/* line 23, ../_sass/styles.scss */
header {
  font-size: 1.5em;
  text-align: center;
  margin: 2em 0;
}
/* line 28, ../_sass/styles.scss */
header img {
  height: 8em;
  width: 8em;
  border-radius: 8em;
}
/* line 34, ../_sass/styles.scss */
header h1 {
  margin-top: .5em;
}
/* line 38, ../_sass/styles.scss */
header nav {
  margin-top: 11px;
}
/* line 41, ../_sass/styles.scss */
header nav a {
  margin: 0 .5em;
  display: inline-block;
}

/* line 48, ../_sass/styles.scss */
a {
  color: #0066F9;
}

/* line 52, ../_sass/styles.scss */
body > article, .post-list body > ol {
  font-size: 1.5em;
  max-width: 75ex;
  margin: 0 auto;
  padding: 2% 7%;
}
/* line 58, ../_sass/styles.scss */
body > article h1, .post-list body > ol h1 {
  line-height: 1.3333333em;
}

/* line 76, ../_sass/styles.scss */
h1 {
  line-height: 1.05263;
  font-size: 1.9em;
  font-family: Merriweather, serif;
  font-weight: bold;
}

/* line 80, ../_sass/styles.scss */
h2 {
  margin-top: 0.60606em;
  line-height: 1.21212;
  font-size: 1.65em;
  font-family: Merriweather, serif;
  font-weight: bold;
}

/* line 84, ../_sass/styles.scss */
h3 {
  margin-top: 0.83333em;
  line-height: 1.66667;
  font-size: 1.2em;
  font-family: Merriweather, serif;
  font-weight: bold;
}

/* line 88, ../_sass/styles.scss */
p, article footer, .post-list ol footer, li {
  margin: 1em 0;
}

/* line 92, ../_sass/styles.scss */
b, strong {
  font-weight: 900;
}

/* line 96, ../_sass/styles.scss */
i, em {
  font-style: italic;
}

/* line 100, ../_sass/styles.scss */
code {
  font-family: monospace;
}

/* line 104, ../_sass/styles.scss */
.footnote:before {
  content: "* ";
}

/* line 108, ../_sass/styles.scss */
:target {
  -webkit-animation: flash 2s;
  -moz-animation: flash 2s;
  -o-animation: flash 2s;
  animation: flash 2s;
}

@-webkit-keyframes flash {
  /* line 131, ../_sass/styles.scss */
  0%, 50% {
    background: yellow;
  }
}

@-moz-keyframes flash {
  /* line 131, ../_sass/styles.scss */
  0%, 50% {
    background: yellow;
  }
}

@-o-keyframes flash {
  /* line 131, ../_sass/styles.scss */
  0%, 50% {
    background: yellow;
  }
}

@keyframes flash {
  /* line 131, ../_sass/styles.scss */
  0%, 50% {
    background: yellow;
  }
}

/* line 136, ../_sass/styles.scss */
footer {
  margin-bottom: 1em;
}

/* line 140, ../_sass/styles.scss */
hr {
  height: 11px;
  border: none;
  border-bottom: 1px solid #777777;
  margin-top: -12px;
}

/* line 148, ../_sass/styles.scss */
aside {
  font-size: 12px;
  line-height: 2;
}

/* line 153, ../_sass/styles.scss */
iframe, textarea {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 160, ../_sass/styles.scss */
aside h1 {
  font-size: 1.5em;
  line-height: 1.33333;
}

/* line 167, ../_sass/styles.scss */
input:not([type="submit"]), textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  font-family: monospace;
  background: none;
  padding: 0;
  margin: 0;
}

/* line 176, ../_sass/styles.scss */
input:not([type="submit"]) {
  margin: 0 1ex;
  border: none;
}
/* line 180, ../_sass/styles.scss */
input:not([type="submit"]):valid {
  color: green;
}
/* line 184, ../_sass/styles.scss */
input:not([type="submit"]):invalid {
  color: red;
}

/* line 189, ../_sass/styles.scss */
textarea {
  resize: vertical;
  border-color: #777;
}

/* line 194, ../_sass/styles.scss */
article footer, .post-list ol footer {
  text-align: center;
  border-top: 1px solid #777;
}

/* line 200, ../_sass/styles.scss */
article ul, .post-list ol ul, article ol, .post-list ol ol {
  list-style: outside;
  padding-left: 2em;
}
/* line 205, ../_sass/styles.scss */
article ol, .post-list ol ol {
  list-style-type: decimal;
}

/* line 210, ../_sass/styles.scss */
.index article, .index .post-list ol, .post-list .index ol {
  font-size: 2em;
  padding-top: 0;
}
/* line 214, ../_sass/styles.scss */
.index article footer, .index .post-list ol footer, .post-list .index ol footer {
  margin-top: 2em;
}

/* line 219, ../_sass/styles.scss */
header h1 a {
  color: inherit;
  text-decoration: none;
}
/* line 223, ../_sass/styles.scss */
header h1 a:hover, header h1 a:focus {
  text-decoration: underline;
}

/* line 232, ../_sass/styles.scss */
.post-list {
  text-align: center;
}
/* line 235, ../_sass/styles.scss */
.post-list ol {
  display: inline-block;
  text-align: left;
}
/* line 240, ../_sass/styles.scss */
.post-list ol > li {
  list-style: circle inside;
  margin: .5em 0;
}

/* line 247, ../_sass/styles.scss */
pre {
  padding-left: 1.5em;
}

/* line 251, ../_sass/styles.scss */
blockquote {
  margin-top: 0.5em;
  padding-top: 0.5em;
}
/* line 259, ../_sass/styles.scss */
blockquote > :first-child {
  margin-top: 0;
}
/* line 262, ../_sass/styles.scss */
blockquote > :first-child:before {
  content: "“";
}
/* line 267, ../_sass/styles.scss */
blockquote > :last-child {
  margin-bottom: 0;
}
/* line 270, ../_sass/styles.scss */
blockquote > :last-child:after {
  content: "”";
}
/* line 275, ../_sass/styles.scss */
blockquote, blockquote + address {
  padding-left: 3%;
  border-left: 0.5em solid green;
}
@media (min-width: 750px) {
  /* line 275, ../_sass/styles.scss */
  blockquote, blockquote + address {
    margin-left: -1em;
  }
}
/* line 284, ../_sass/styles.scss */
blockquote + address {
  font-style: italic;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
/* line 290, ../_sass/styles.scss */
blockquote + address:before {
  content: "— ";
}

/* line 296, ../_sass/styles.scss */
address {
  font-style: italic;
}
