<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{ content | strip_html | truncate: 160 }}">
  <meta property="og:image" content="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=50">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="blog">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta name="twitter:description" content="{{ content | strip_html | truncate: 200 }}"
  <meta name="twitter:image" content="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=120">
  <meta name="twitter:site" content="@PenmanRoss">
  <meta name="twitter:creator" content="@PenmanRoss">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=144">
  <meta name="msapplication-square70x70logo" content="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=70">
  <meta name="msapplication-square150x150logo" content="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=150">
  <link rel="apple-touch-icon-precomposed" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=152">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:400,700italic,900,400italic">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <link rel="icon" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=32" sizes="32x32">
  <link rel="icon" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=96" sizes="96x96">
  <link rel="icon" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=128" sizes="128x128">
  <link rel="icon" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=195" sizes="195x195">
  <link rel="icon" href="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=228" sizes="228x228">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
</head>
<body>

  <header>
    <img src="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=192" width="192" height="192" alt="" />

    <h1><a href="/">{{ site.name }}</a></h1>

    <nav>
      <a href="https://twitter.com/PenmanRoss" title="@PenmanRoss">Twitter</a>
      <a href="https://github.com/penman" title="@penman">GitHub</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>

  <article>
    <h1>{{ page.title }}</h1>
    {{ content }}

    <br>

    <footer>
      <p><a href="https://twitter.com/PenmanRoss" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PenmanRoss</a></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <p>Noticed an error in <i>{{ page.title }}</i>?<br><a href="https://github.com/penman/penman.github.com/edit/master/{{ page.path }}">Submit a pull request!</a></p>

      <p>I was recently nominated for the Netmag Emerging Talent of the Year Award. I'd really appreciate it if you <a href="https://thenetawards.com/vote/talent/ross-penman/">voted for me</a>.</p>

    </footer>
  </article>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36382565-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
