<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Ross Penman</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700italic,900,400italic' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
</head>
<body>

  <header>
    <img src="http://gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=192" width="192" height="192" alt="" />

    <h1><a href="/">Ross Penman</a></h1>

    <nav>
      <a href="https://twitter.com/PenmanRoss" title="@PenmanRoss">Twitter</a>
      <a href="https://github.com/penman" title="@penman">GitHub</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>

  <article>
    <h1>{{ page.title }}</h1>
    {{ content }}

    <br>

    <footer>
      <p><a href="https://twitter.com/PenmanRoss" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PenmanRoss</a></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <p>Noticed an error in <i>{{ page.title }}</i>?<br><a href="https://github.com/penman/penman.github.com/edit/master/{{ page.path }}">Submit a pull request!</a></p>

      <p>I was recently nominated for the Emerging Talent of the Year Net Award. I'd really appreciate it if you <a href="https://thenetawards.com/vote/talent/ross-penman/">voted for me</a>.</p>

    </footer>
  </article>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36382565-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>
